[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ReVAMP"]
	path = ReVAMP
	url = https://github.com/edwbaker/revamp
[submodule "sonicscrewdriver"]
	path = sonicscrewdriver
	url = https://github.com/edwbaker/sonicscrewdriver
